* {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    background-color: black;
    color:white;
  }

h2 {
    background-color: black;
    color:white;
}
ul li {
    background-color: rgb(146, 242, 210);
}

p {
    background-color: lightyellow;
}

ol li {
    background-color: lightyellow;
}

img {
    width:500px;
    height:auto;
}